.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

.home-nav-div {
  padding-right: 170px;
  padding-left: 170px;
}

.home-nav-div-2 {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.heading-logo {
  padding-left: 10px;
  font-family: Neuton, sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home-nav-div-3 {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-nav-link {
  font-family: Montserrat, sans-serif;
  color: #333;
  font-size: 18px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.home-hero-div {
  height: 85vh;
  background-image: url('../images/indian-865394_1920.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-tabs-sec {
  background-image: url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-tabs-div {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: hsla(0, 0%, 100%, 0.85);
}

.text-block-heading2 {
  font-family: 'PT Sans', sans-serif;
  color: #000;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.heading1 {
  margin-top: 15px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.paragraph1 {
  padding-top: 20px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

.image {
  color: #000;
}

.home-tab-div-tab-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 120px;
  background-color: #fff;
  background-image: url('../images/img-20141219-wa0003.jpg');
  background-position: 0% 50%;
  background-size: cover;
  box-shadow: 1px 1px 9px 0 #000;
  text-align: center;
}

.home-tab-div-tab-1.row-2 {
  background-image: url('../images/maxresdefault.jpg');
  background-position: 65% 50%;
}

.home-tab-div-tab-1.row-3 {
  background-image: url('../images/lord-shiva-hd-wallpapers.jpg');
}

.home-tab-div-tab-1.row-4 {
  background-image: url('../images/indian-wedding1.jpg');
  background-position: 50% 50%;
}

.home-tab-div-tab-1.row-5 {
  background-image: url('../images/1_mjXqWcvNc4oxG99gEhxy2Q.jpeg');
  background-position: 50% 50%;
}

.tab-link-tab-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  text-align: center;
}

.tab-link-tab-1.w--current {
  margin-right: 25px;
  margin-left: 25px;
  background-color: hsla(0, 0%, 78.4%, 0);
}

.tab-link-tab-1.w--current:hover {
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.35);
}

.text-block-heading2-copy {
  margin-top: 20px;
  font-family: 'Indie Flower', sans-serif;
  color: #000;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.home-tab-div-tab-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 120px;
  background-color: #fff;
  background-image: url('../images/Bagamati_cremation.jpg');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 1px 1px 9px 0 #000;
  text-align: center;
}

.home-tab-div-tab-2.row-2 {
  background-image: url('../images/779383-leprosy-patients.jpg');
  background-position: 50% 50%;
}

.home-tab-div-tab-2.row-3 {
  background-image: url('../images/versatile_banner_5c88fdf0-4579-4db4-af22-7e43d42cca98-thumbnail-1280x700-90.jpg');
  background-position: 0% 50%;
}

.home-tab-div-tab-2.row-4 {
  background-image: url('../images/56.jpg');
}

.home-tab-div-tab-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 200px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 120px;
  background-color: #fff;
  background-image: url('../images/42704418624_c6ffb06ce9_b.jpg');
  background-position: 50% 50%;
  background-size: cover;
  box-shadow: 1px 1px 9px 0 #000;
  text-align: center;
}

.home-tab-div-tab-3.row-2 {
  background-image: url('../images/blind1.jpg');
}

.home-tab-div-tab-3.row-3 {
  background-image: url('../images/crop_original_Gait_training__3_.jpg');
}

.home-tab-div-tab-3.row-4 {
  background-image: url('../images/Polio.jpg');
}

.tab-link-tab-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  margin-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 78.4%, 0);
}

.tab-link-tab-2:hover {
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.35);
}

.tab-link-tab-2.w--current {
  background-color: transparent;
}

.tab-link-tab-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  margin-left: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: hsla(0, 0%, 78.4%, 0);
}

.tab-link-tab-3:hover {
  border-style: none;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.35);
}

.tab-link-tab-3.w--current {
  background-color: transparent;
}

.link-block {
  color: #333;
  text-decoration: none;
}

.link-block-2 {
  color: #333;
  text-decoration: none;
}

.link-block-3 {
  color: #333;
  text-decoration: none;
}

.dropdown-list {
  margin-top: 10px;
}

.dropdown-list.w--open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 37px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: rgba(246, 66, 76, 0.2);
}

.dropdown-list-2 {
  margin-top: 37px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.dropdown-list-2.w--open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(246, 66, 76, 0.2);
}

.home-sec-3 {
  background-image: url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
  background-position: 50% 0%;
  background-size: cover;
  background-repeat: no-repeat;
}

.home-sec-3-div {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: rgba(26, 120, 180, 0.85);
}

.heading1-white {
  margin-top: 15px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  text-align: center;
}

.home-sec-3-cont {
  margin-bottom: 20px;
  text-align: center;
}

.paragraph1-white {
  margin-bottom: 40px;
  padding-top: 20px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: justify;
}

.button-2 {
  margin-top: 14px;
  margin-bottom: 20px;
  padding: 10px 27px;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.home-sec-3-cont-copy {
  margin-top: 20px;
  text-align: center;
}

.heading1-white-copy {
  margin-top: 0px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  text-align: justify;
}

.text-block-heading2-copy {
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.text-block-3 {
  display: inline-block;
  margin-bottom: 10px;
  padding-top: 20px;
  -webkit-transform: rotate(-37deg);
  -ms-transform: rotate(-37deg);
  transform: rotate(-37deg);
  font-family: 'Fa solid 900', sans-serif;
  color: #fff;
  font-size: 70px;
  line-height: 70px;
}

.column {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-4 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 40px;
}

.home-column-2-div {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.columns {
  display: block;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.home-sec-3-contact-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.text-block-5 {
  margin-right: 20px;
  font-family: 'Fa solid 900', sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 30px;
}

.button-2-copy {
  margin-top: 0px;
  padding: 10px 27px;
  border: 1px none #fff;
  background-color: #fff;
  font-family: Montserrat, sans-serif;
  color: #1d699c;
  font-size: 16px;
}

.paragraph1-white-copy {
  margin-bottom: 10px;
  padding-top: 20px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 16px;
  text-align: justify;
}

.div-block-2 {
  margin: 40px 0px;
  border: 1px solid #fff;
  text-align: left;
}

.footer-div {
  margin-top: 40px;
  margin-bottom: 10px;
}

.footer-cont-div-bottom {
  margin-top: 40px;
}

.link-block-4 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  color: #333;
  text-decoration: none;
}

.footer-nav-links-div1 {
  margin-right: 100px;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.heading-3 {
  font-family: 'PT Sans', sans-serif;
}

.link {
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Montserrat, sans-serif;
  color: #24275a;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.div-block-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  margin-bottom: 0px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.text-block-6 {
  font-family: 'PT Sans', sans-serif;
  color: rgba(51, 51, 51, 0.8);
}

.text-block-6-copy {
  font-family: 'PT Sans', sans-serif;
  color: rgba(51, 51, 51, 0.8);
  text-align: right;
}

.footer-nav-links-div1-copy {
  margin-right: 0px;
}

.text-block-heading2-black {
  margin-top: 20px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
  text-shadow: 4px 4px 6px #000;
}

.nav-social-contact-cont {
  position: relative;
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav-contact-div {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  clear: none;
}

.nav-social-div {
  position: absolute;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.text-block-7 {
  font-family: 'Fa solid 900', sans-serif;
  font-size: 20px;
}

.text-block-8 {
  margin-left: 10px;
}

.bold-text {
  margin-left: 20px;
}

.text-block-7-copy {
  margin-left: 20px;
  font-family: 'Fa brands 400', sans-serif;
  font-size: 20px;
}

.mobile-nav-div {
  display: none;
}

.button-3 {
  margin-top: 40px;
  background-color: #328008;
  font-size: 18px;
  text-align: center;
}

.dropdown-link {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dropdown-link:hover {
  text-shadow: 1px 1px 6px #000;
}

.dropdown-link.w--current {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 6px #000;
}

.footer-coulumn1-div-social {
  padding-top: 20px;
}

.text-block-9 {
  display: inline-block;
  font-family: 'Fa brands 400', sans-serif;
  color: #8083b8;
  font-size: 30px;
  line-height: 36px;
}

.text-block-9-copy {
  display: inline-block;
  padding-left: 20px;
  font-family: 'Fa brands 400', sans-serif;
  color: #8083b8;
  font-size: 30px;
  line-height: 36px;
}

.about-hero-div {
  height: 50vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 66, 76, 0.2)), to(rgba(246, 66, 76, 0.2))), url('../images/indian-865394_1920.jpg');
  background-image: linear-gradient(180deg, rgba(246, 66, 76, 0.2), rgba(246, 66, 76, 0.2)), url('../images/indian-865394_1920.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.about-sec1-div {
  padding-top: 55px;
  padding-bottom: 55px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.78)), to(hsla(0, 0%, 100%, 0.78))), url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.78), hsla(0, 0%, 100%, 0.78)), url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.about-sec1-grid {
  grid-template-areas: "Area Area-2" "Area Area-2" "Area-3 Area-3" "Area-3 Area-3";
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
}

.grid-area1-div {
  width: 360px;
  height: 360px;
  border-radius: 180px;
  background-image: url('../images/matterhorn-425134_1280.jpg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 1px 1px 3px 0 #000;
}

.grid-area2-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.grid-area3-div {
  margin-top: 20px;
}

.heading1-copy {
  margin-top: 0px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
}

.paragraph1-copy {
  margin-bottom: 0px;
  padding-top: 10px;
  font-family: 'PT Sans', sans-serif;
  font-size: 16px;
}

.text-block-heading2-white {
  padding-top: 15px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.text-field {
  border: 1px solid #fff;
  background-color: hsla(0, 0%, 100%, 0);
  color: hsla(0, 0%, 100%, 0.55);
}

.text-field::-webkit-input-placeholder {
  color: hsla(0, 0%, 100%, 0.55);
}

.text-field:-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.55);
}

.text-field::-ms-input-placeholder {
  color: hsla(0, 0%, 100%, 0.55);
}

.text-field::placeholder {
  color: hsla(0, 0%, 100%, 0.55);
}

.text-block-heading2-white-copy {
  padding-top: 0px;
  padding-right: 30px;
  font-family: Inconsolata, monospace;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: capitalize;
}

.success-message {
  background-color: transparent;
}

.error-message {
  margin-top: 20px;
  background-color: rgba(190, 26, 26, 0.51);
}

.contact-hero-div {
  height: 50vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(246, 66, 76, 0.2)), to(rgba(246, 66, 76, 0.2))), url('../images/businessman-2956974_1920.jpg');
  background-image: linear-gradient(180deg, rgba(246, 66, 76, 0.2), rgba(246, 66, 76, 0.2)), url('../images/businessman-2956974_1920.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.contact-sec1-div {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: transparent;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(26, 120, 180, 0.85)), to(rgba(26, 120, 180, 0.85))), url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
  background-image: linear-gradient(180deg, rgba(26, 120, 180, 0.85), rgba(26, 120, 180, 0.85)), url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
  background-position: 0px 0px, 50% 0%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.contact-sec1-cont {
  margin-bottom: 20px;
  text-align: center;
}

.form-block-enquiry {
  padding-right: 30px;
  padding-left: 30px;
}

.heading1-white-copy {
  margin-top: 15px;
  font-family: Inconsolata, monospace;
  color: #fff;
  text-align: center;
}

.heading1-white-copy-contact {
  margin-top: 15px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 24px;
  text-align: left;
}

.text-block-heading2-white-contact {
  margin-bottom: 40px;
  padding-top: 15px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.gallery-sec1-div {
  padding-top: 70px;
  padding-bottom: 70px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url('../images/ship-4582737_1920.jpg');
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/ship-4582737_1920.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.gallery-sec1-cont {
  display: block;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.gallery-sec1-cont-div {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lightbox-link {
  border: 1px solid #fff;
}

.heading1-white-contact1 {
  margin-top: 40px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 32px;
  line-height: 40px;
  text-align: center;
}

.tabs-menu-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  text-align: center;
}

.tabs-menu-copy.last {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.div-block-4 {
  margin-top: 40px;
  text-align: center;
}

.text-block-heading2-white-contact-copy {
  margin-bottom: 10px;
  padding-top: 15px;
  font-family: 'PT Sans', sans-serif;
  color: #fff;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
}

.image-2 {
  color: #000;
}

.link-block-6 {
  padding: 20px 40px 20px 20px;
  color: #333;
  text-decoration: none;
}

.link-block-6.w--current {
  padding: 20px 40px 20px 20px;
}

.dropdown-link-2 {
  font-family: Montserrat, sans-serif;
  color: #fff;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.dropdown-link-2:hover {
  text-shadow: 1px 1px 6px #000;
}

.dropdown-link-2.w--current {
  color: #fff;
  text-decoration: none;
  text-shadow: 1px 1px 6px #000;
}

.logo-link-block-2 {
  position: relative;
  left: -120px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
  text-decoration: none;
}

.logo-link-block-2.w--current {
  position: relative;
  left: -120px;
}

.link-block-7 {
  padding: 20px 40px 20px 20px;
  color: #333;
  text-decoration: none;
}

.text-block-nav-link-2 {
  font-family: Montserrat, sans-serif;
  color: #24275a;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.link-block-8 {
  padding: 20px;
  color: #333;
  text-decoration: none;
}

.heading-logo-2 {
  padding-left: 10px;
  font-family: Neuton, sans-serif;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.home-nav-div-4 {
  position: relative;
  left: 80px;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 20px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropdown-list-4 {
  margin-top: 37px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.dropdown-list-4.w--open {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 33px;
  background-color: rgba(246, 66, 76, 0.79);
}

.link-block-9 {
  padding: 20px 40px 20px 20px;
  color: #333;
  text-decoration: none;
}

.link-block-9.w--current {
  padding: 20px 40px 20px 20px;
}

.home-tabs-cont-copy {
  margin-top: 60px;
}

@media screen and (max-width: 991px) {
  .home-nav-div-2 {
    display: none;
  }
  .heading-logo {
    font-size: 20px;
    line-height: 26px;
  }
  .text-block-nav-link {
    font-size: 16px;
    letter-spacing: 0px;
  }
  .home-hero-div {
    height: 90vh;
    background-position: 75% 50%;
  }
  .home-tab-div-tab-1 {
    width: 150px;
    height: 150px;
    background-size: cover;
  }
  .tab-link-tab-1.w--current {
    margin-right: 15px;
    margin-left: 15px;
  }
  .home-tab-div-tab-2 {
    width: 150px;
    height: 150px;
  }
  .home-tab-div-tab-3 {
    width: 150px;
    height: 150px;
    background-size: cover;
  }
  .tab-link-tab-2 {
    margin-right: 15px;
    margin-left: 15px;
  }
  .tab-link-tab-3 {
    margin-right: 15px;
    margin-left: 15px;
  }
  .div-block-2 {
    margin-right: 0px;
    margin-left: 0px;
  }
  .footer-nav-links-div1 {
    margin-right: 60px;
  }
  .mobile-nav-div {
    display: block;
  }
  .navbar {
    background-color: transparent;
  }
  .brand {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 8px;
    padding-bottom: 8px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .menu-button {
    padding: 35px;
  }
  .menu-button.w--open {
    background-color: #f6424c;
  }
  .nav-menu {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(246, 66, 76, 0.2);
    text-align: center;
  }
  .nav-link-mobile {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px 10px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 18px;
    text-align: right;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-link-mobile.w--current {
    color: #fff;
    text-shadow: 1px 1px 6px #000;
  }
  .mobile-selection-nav-div {
    position: fixed;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(246, 66, 76, 0.2);
  }
  .nav-link-mobile-copy {
    display: inline-block;
    margin: 12px 10px;
    padding: 20px 10px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-link-mobile-copy.w--current {
    color: #fff;
    text-shadow: 1px 1px 6px #000;
  }
  .text-block-10 {
    position: absolute;
    left: auto;
    top: 14%;
    right: 4%;
    bottom: auto;
    font-family: 'Fa solid 900', sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
  }
  .about-hero-div {
    height: 60vh;
    background-position: 75% 50%;
  }
  .contact-hero-div {
    height: 60vh;
    background-position: 75% 50%;
  }
  .form-block-enquiry {
    padding-right: 12px;
    padding-left: 12px;
  }
  .nav-link-mobile-2 {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    padding: 20px 10px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 18px;
    text-align: right;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-link-mobile-2.w--current {
    color: #fff;
    text-shadow: 1px 1px 6px #000;
  }
  .nav-link-mobile-copy-2 {
    display: inline-block;
    margin: 12px 10px;
    padding: 20px 10px;
    font-family: Montserrat, sans-serif;
    color: #fff;
    font-size: 26px;
    line-height: 30px;
    text-align: right;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
  }
  .nav-link-mobile-copy-2.w--current {
    color: #fff;
    text-shadow: 1px 1px 6px #000;
  }
  .text-block-nav-link-2 {
    font-size: 16px;
    letter-spacing: 0px;
  }
  .nav-menu-2 {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: rgba(246, 66, 76, 0.79);
    text-align: center;
  }
  .heading-logo-2 {
    font-size: 18px;
    line-height: 26px;
  }
  .text-block-11 {
    position: absolute;
    left: auto;
    top: 14%;
    right: 4%;
    bottom: auto;
    font-family: 'Fa solid 900', sans-serif;
    color: #fff;
    font-size: 30px;
    line-height: 40px;
  }
}

@media screen and (max-width: 767px) {
  .home-hero-div {
    height: 90vh;
    background-position: 45% 50%;
  }
  .home-tabs-sec {
    background-size: contain;
    background-repeat: repeat-y;
  }
  .paragraph1 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .home-tab-div-tab-1 {
    width: 260px;
    height: 260px;
    border-radius: 160px;
    background-image: url('../images/img-20141219-wa0003.jpg');
    background-position: 0px 0px;
    background-size: cover;
  }
  .tab-link-tab-1 {
    margin-top: 20px;
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 9px;
    padding-left: 9px;
  }
  .tab-link-tab-1.w--current {
    margin-top: 20px;
    padding-right: 9px;
    padding-left: 9px;
  }
  .home-tab-div-tab-2 {
    width: 260px;
    height: 260px;
    border-radius: 160px;
  }
  .home-tab-div-tab-3 {
    width: 260px;
    height: 260px;
    border-radius: 160px;
    background-image: url('../images/42704418624_c6ffb06ce9_b.jpg');
    background-position: 50% 50%;
    background-size: cover;
  }
  .tab-link-tab-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 40px;
    margin-right: 3px;
    margin-left: 3px;
    padding-right: 9px;
    padding-left: 9px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
  }
  .tab-link-tab-3 {
    margin-top: 40px;
    margin-right: 3px;
    margin-left: 3px;
    padding-right: 9px;
    padding-left: 9px;
  }
  .home-sec-3-cont {
    margin-bottom: 0px;
  }
  .paragraph1-white {
    padding-right: 10px;
    padding-left: 10px;
  }
  .heading1-white-copy {
    padding-right: 10px;
    padding-left: 10px;
    text-align: justify;
  }
  .text-block-heading2-copy {
    padding-left: 10px;
  }
  .paragraph1-white-copy {
    padding-right: 10px;
    padding-left: 10px;
  }
  .div-block-2 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .footer-div {
    margin-bottom: 10px;
  }
  .link-block-4 {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .footer-nav-links-div1 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .column-2 {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .link {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .text-block-6 {
    display: inline-block;
  }
  .text-block-6-copy {
    display: inline-block;
  }
  .columns-2 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .column-3 {
    text-align: right;
  }
  .footer-nav-links-div1-copy {
    padding-right: 10px;
    padding-left: 10px;
  }
  .text-block-heading2-black {
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
  }
  .nav-link-mobile {
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px 14px;
    font-size: 16px;
  }
  .footer-coulumn1-div-social {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .text-block-9-copy {
    padding-left: 40px;
  }
  .nav-link-mobile-copy {
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px 14px;
    font-size: 22px;
  }
  .text-block-10 {
    font-size: 24px;
  }
  .about-hero-div {
    height: 60vh;
    background-position: 45% 50%;
  }
  .about-sec1-div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.78)), to(hsla(0, 0%, 100%, 0.78))), url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.78), hsla(0, 0%, 100%, 0.78)), url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
    background-position: 0px 0px, 50% 0%;
    background-size: auto, auto;
    background-repeat: repeat, repeat-y;
  }
  .about-sec1-grid {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    grid-template-areas: "Area Area" "Area Area" "Area-2 Area-2" "Area-2 Area-2" "Area-2 Area-2" "Area-3 Area-3" "Area-3 Area-3" "Area-3 Area-3";
    -ms-grid-columns: 0.5fr 0px 0.5fr;
    grid-template-columns: 0.5fr 0.5fr;
    -ms-grid-rows: auto 0px auto 0px auto 0px auto 0px auto 0px auto;
    grid-template-rows: auto auto auto auto auto auto;
  }
  .grid-area1-div {
    width: 280px;
    height: 280px;
  }
  .heading1-copy {
    padding-top: 20px;
  }
  .paragraph1-copy {
    padding-right: 10px;
    padding-left: 10px;
  }
  .contact-hero-div {
    height: 60vh;
    background-position: 45% 50%;
  }
  .form-block-enquiry {
    padding-right: 10px;
    padding-left: 10px;
  }
  .gallery-sec1-cont-div {
    padding: 28px 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .heading1-white-contact1 {
    padding-left: 10px;
    text-align: left;
  }
  .tabs-menu-copy {
    display: block;
    margin-top: 40px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav-link-mobile-2 {
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px 14px;
    font-size: 16px;
  }
  .nav-link-mobile-copy-2 {
    margin-right: 5px;
    margin-left: 5px;
    padding: 20px 14px;
    font-size: 22px;
  }
  .heading-logo-2 {
    font-size: 16px;
  }
  .text-block-11 {
    font-size: 24px;
  }
}

@media screen and (max-width: 479px) {
  .heading-logo {
    display: block;
    font-size: 16px;
  }
  .home-hero-div {
    height: 83vh;
    background-position: 25% 50%;
  }
  .home-tab-div-tab-1 {
    width: 220px;
    height: 220px;
  }
  .tab-link-tab-1 {
    margin-right: 2px;
    margin-left: 2px;
    padding-right: 9px;
    padding-left: 9px;
  }
  .tab-link-tab-1.w--current {
    margin-right: 10px;
    margin-left: 10px;
  }
  .home-tab-div-tab-2 {
    width: 220px;
    height: 220px;
  }
  .home-tab-div-tab-3 {
    width: 220px;
    height: 220px;
  }
  .tab-link-tab-2 {
    margin-right: 2px;
    margin-left: 2px;
  }
  .tab-link-tab-3 {
    margin-right: 2px;
    margin-left: 2px;
  }
  .footer-div {
    margin-bottom: 10px;
  }
  .link-block-4 {
    padding-left: 10px;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .footer-nav-links-div1 {
    margin-right: 0px;
  }
  .text-block-6 {
    padding-left: 10px;
  }
  .text-block-6-copy {
    padding-left: 10px;
  }
  .columns-2 {
    display: block;
  }
  .column-3 {
    margin-top: 20px;
    text-align: left;
  }
  .footer-nav-links-div1-copy {
    padding-left: 10px;
  }
  .text-block-heading2-black {
    font-weight: 700;
  }
  .brand {
    display: block;
  }
  .menu-button {
    margin-top: 30px;
  }
  .nav-menu {
    text-align: center;
  }
  .nav-link-mobile {
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .footer-coulumn1-div-social {
    padding-left: 10px;
    text-align: left;
  }
  .nav-link-mobile-copy {
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .text-block-10 {
    top: 22%;
  }
  .about-hero-div {
    height: 60vh;
    background-position: 25% 50%;
  }
  .about-sec1-div {
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0.78)), to(hsla(0, 0%, 100%, 0.78))), url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
    background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 0.78), hsla(0, 0%, 100%, 0.78)), url('../images/sringeri-sharada-peetham-adi-shankara-shankaracharya-jagadguru-advaita-vedanta-png-favpng-eXzGun_burned.jpg');
    background-position: 0px 0px, 50% 0%;
    background-size: auto, auto;
    background-repeat: repeat, repeat-y;
  }
  .contact-hero-div {
    height: 60vh;
    background-position: 25% 50%;
  }
  .form-block-enquiry {
    padding-right: 10px;
    padding-left: 10px;
  }
  .nav-link-mobile-2 {
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-link-mobile-copy-2 {
    position: static;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav-menu-2 {
    text-align: center;
  }
  .heading-logo-2 {
    display: none;
    font-size: 16px;
    letter-spacing: 1px;
  }
  .text-block-11 {
    top: 22%;
  }
}

#w-node-78e9ed5cc337-07ed6d89 {
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}

#w-node-1c4b1732ebb0-07ed6d89 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  grid-area: Area-2;
  -ms-grid-row-align: auto;
  align-self: auto;
  -ms-grid-column-align: auto;
  justify-self: auto;
}

#w-node-4841301e0ffa-07ed6d89 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: Area-3;
}

@media screen and (max-width: 767px) {
  #w-node-1c4b1732ebb0-07ed6d89 {
    -ms-grid-row: 5;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
  #w-node-4841301e0ffa-07ed6d89 {
    -ms-grid-row: 11;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
  }
}

@media screen and (max-width: 767px) {
  #w-node-78e9ed5cc337-07ed6d89 {
    -ms-grid-column: 1;
    grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
    -ms-grid-row: 1;
    grid-row-start: 1;
    -ms-grid-row-span: 2;
    grid-row-end: 3;
  }
}

@font-face {
  font-family: 'Fa 400';
  src: url('../fonts/fa-regular-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa brands 400';
  src: url('../fonts/fa-brands-400.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Fa solid 900';
  src: url('../fonts/fa-solid-900.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}